.skillIcons svg{
    height:50%;
    width: 50%;
    margin: 0;
    position: absolute;
    left: 20%;
    top: 10%;
    transform: translate(-20%,-20%);
}
.iconname{
    font-size: 15px;
    margin-left: 15%;
}
.skillIcons{
    padding-bottom: 2%;
}
.sicon{
    font-size: 450%;
    padding: 0;
    margin: 0;
    width: 5%;
    color: #83afeb;
}
.sicon:hover{
    color: #e0e9f5;
}

/* skills */
.skillBody{
    min-height: 90vh;
    background: #171562 url('../images/girlLaptop.svg');
    background-repeat: no-repeat;
    background-position:right bottom;
    /* background-color: #110f49; */
    color: white;
    padding-top: 5%;
}
ul .control-dots{
    color: #171562;
}
.skillBody h4{
    margin-left: 4%;
}
@media all and (max-width:768px){
    .skillBody{
        background-size: 75%;
        padding-top: 15%;
    }
    .sicon{
        font-size: 300%;
    }
    .car-row{
        padding-bottom: 5%;
    }
}
@media all and (max-width:320px){
    .sicon{
        font-size: 250%;
    }
}