:root{
--sidebar-flex:1.5;
--condiv-flex:6;
--fontsize-p:1.2rem;
--fontsize-nav:1.6rem;

}

 nav{

    background:linear-gradient(60deg,#40c5ea 20%, #180950 80%);
    text-align: center;
    }
    nav ul{

      box-sizing: border-box;
      display:inline-block;
      line-height:45px;
    }
    nav ul li{
      display:inline;
      text-align: left;
      width:30%;
    }
    .link{
      color:white;
      display:inline;
      width:30%;
      font-size: 100%;
      text-align: left;


    }
     .profilepic{
     width:150px;
      height:150px;
      border-radius: 50%;
    }
    .heading{
      font-size: 200%;

    }
    .pstyle{
      padding:5%;
    }

    header{
      background:linear-gradient(45deg,#40c5ea 40%, #180950 80%);
      border-radius: 25px;
      padding:1%;
      width:100%;
      float:center;}

    .condiv{

      background-color: #b2ceea;
      text-align: center;
      min-height: 75vh;
      padding-top: 5%;


    }
    p{
      overflow:auto;
    }
    .social a{
      padding-left: 2%;
    }
    .active
    {
    font-weight: bolder;
    }



@media all and (min-width:900px){
.App
{
display: flex;
width: 100vw;
min-height: 100vh;
}
.condiv
{
padding: 100px ;
background-color: #b2ceea;
flex:var(--condiv-flex);
text-align: center;
}
nav
{
text-align: center;
color:#180950;
padding:60px 30px 0px 30px ;
flex:var(--sidebar-flex);
background: #40c5ea;
background: linear-gradient(180deg,#40c5ea 40%, #180950 80%);
min-height:100vh;
}
nav ul
{
  font-size:var(--fontsize-nav) ;
  text-align: center;
  list-style-type: none;
  text-decoration: none;
  color: white !important;
}

nav ul li
{
  margin:40px;
  text-align: center;
}
body{
  background-color: blue ;
}
header{
  padding:3%;
}
.link{
  color:white;
  font-size: 100%;
  line-height: 100px;
  padding-bottom: 20%;


}
.active
{
font-weight: bolder;
}
.subtopic
{
margin:10px 10px 30px 10px !important;
}
p
{
font-size: var(--fontsize-p);
font-size: 1.3rem;

padding:2%;
}
h1,h3,p
{
margin: 10px;
}
.jumbotron{
  background-color: #b2ceea;
}
header{
  background:linear-gradient(45deg,#40c5ea 40%, #180950 80%);
  border-radius: 25px;
  padding:1%;
  width:100%;
  float:center;
}
.pstyle{
  font-style: italic;
  padding:2%;
}
.profilepic{
  width:300px;
  height:300px;
  border-radius: 50%;
  padding:5%;
}
.social a{
  padding:1%;
  width:50%;
  height:100%;
}
.heading{
  font-size: 250%;
}}
