@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');
body{
  background: #0B0A2D;
  font-family: 'Benne', serif;
  font-size: 1.2rem;
}
nav{
  width:100%;
  background:#ffffff;
  background: linear-gradient(45deg,#13124d 40%, #07071f 80%);
  color: white;
}
  .nav-link{
    color:#d9dbfa;
  }
  .nav-link:active{
    color: white;
  }
  .dbrand{
    font-size: 1.5rem;
    font-weight: 700;
    color:#efcaa8;
  }